# Ambienti virtuali
venv/
.venv/
env/

# Variabili d'ambiente (NON CARICARE MAI QUESTO)
.env

# Cache di Python
__pycache__/
*.py[cod]

# Database vettoriale locale (non si carica, è pesante e si ricrea)
chroma_db/